# Other project files
*.v1xa
*.mmp
*.vdb
*.d
*.db
*.pdb
*.suo
*.log
*.tlog
*.lastbuildstate

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch
*.ipch

# Compiled Static libraries
*.lib

# Compiled
*.exe
*.dll

# CMake files
Makefile
CMakeCache.txt
CMakeFiles
CMakeScripts
CMakeLists.txt
cmake_install.cmake
cmake_uninstall.cmake

# Specific Directories/Files
.vs
Rubbish
vulkancapsviewer
desktop.ini
*.v1x
*.vdb
*.fsb
*.bin
*.TMP
*.bak
*.vktrace
*.iobj
*.iobj
*.vktracer
*.sbr
*.iobj
*.iobj
*.exp
*.exp
*.iobj
*.iobj
*.iobj
*.sarif
MinCity/x64/Debug/MinCity.exe.recipe
*.idb
*.vtuneproj
VTune Profiler Results
*.ilk
*.ilk
MinCity/x64/Debug/MinCity.ilk
MinCity/x64/Debug/MinCity.ilk
